@page "/page"

<PageTitle>Counter</PageTitle>


<h3>All Forms </h3>
<hr />
<h3> Form Type </h3>

<div class="container text-center" style="margin-top:5rem">
    <div class="row align-items-start" style="margin-top:1rem">
        <div class="col-3 fs-4 text-start">
            <label for="exampleInputEmail1" class="form-label">Form Type </label>
        </div>
        <div class="col-9 ">


            <select name="cars" id="form" class="form-select" style=" border-color:#8B4500">
                <option value="volvo" disabled>Select Form</option>
                <option value="saab">G1-A</option>
                <option value="mercedes">G1-B</option>
                <option value="audi">G1-C</option>
            </select>

        </div>
    </div>
</div>
@code {

}
