@page "/counter"

<PageTitle>MainForm</PageTitle>

<h1 class="text-center">Application for Registrations of Designs</h1>
<h6 class="text-center">[Section 5 and 44]</h6>
<h6 class="text-center">You are requested to register the accompanying in</h6>
<div class="container text-center" style="margin-top: 5rem">
    @* input - idc class - dropdown *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">IDC Class : </label>
        </div>
        <div class="col-9">
            <select id="idc" class="form-select" style="border-color: #166534">
                <option>Select</option>
                <option>Select</option>
                <option>Select</option>
            </select>
        </div>
    </div>
    @* input - type - dropdown *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Application Type : </label>
        </div>
        <div class="col-9">
            <select id="type" class="form-select" style="border-color: #166534">
                <option>Select</option>
                <option>Select</option>
                <option>Select</option>
            </select>
        </div>
    </div>
    @* input - name - textfield *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Application Name : </label>
        </div>
        <div class="col-9">
            <input type="text" id="name" class="form-control" placeholder="Applicant Name" style="border-color: #166534">
        </div>
    </div>
    @* input - address - textfield *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Application Address : </label>
        </div>
        <div class="col-9">
            <input type="text" id="address" class="form-control" placeholder="Applicant Address" style="border-color: #166534">
        </div>
    </div>
    @* input - origin - 3 dropdown *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Application Origin : </label>
        </div>
        <div class="col-3">
            <select id="country" class="form-select" style="border-color: #166534">
                <option>Country</option>
                <option>Select</option>
                <option>Select</option>
            </select>
        </div>
        <div class="col-3">
            <select id="nationality" class="form-select" style="border-color: #166534">
                <option>Nationality</option>
                <option>Select</option>
                <option>Select</option>
            </select>
        </div>
        <div class="col-3">
            <select id="state" class="form-select" style="border-color: #166534">
                <option>State</option>
                <option>Select</option>
                <option>Select</option>
            </select>
        </div>
    </div>
    @* input - multiple applicants *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Multiple Applicants : </label>
        </div>
        <div class="col-4">
            <input type="text" id="multiple-applicant" class="form-control" placeholder="Add Applicant" style="background-color:#166534; color: white">
        </div>
    </div>
    <hr/>
    @* input - multiple articles *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Multiple Articles : </label>
        </div>
        <div class="col-4">
            <input type="text" id="multiple-articles" class="form-control" placeholder="Add Articles" style="background-color:#166534; color: white">
        </div>
    </div>
    <hr/>
    @* input - applicant type *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Applicant Type : </label>
        </div>
        <div class="col-9">
            <select id="application-type" class="form-select" style="border-color: #166534">
                <option>Select</option>
                <option>Select</option>
                <option>Select</option>
            </select>
        </div>
    </div>
    @* input - previously registered *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Previously Redg. Class(es) : </label>
        </div>
        <div class="col-9">
            <input type="text" id="previously-registered" class="form-control" placeholder="Previously Registered Class(es)" style="border-color: #166534">
        </div>
    </div>
    @* input - under no *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Under No : </label>
        </div>
        <div class="col-9">
            <input type="text" id="under-no" class="form-control" placeholder="Under No" style="border-color: #166534">
        </div>
    </div>
    @* input - address of service *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Address of Service : </label>
        </div>
        <div class="col-9">
            <input type="text" id="address-service" class="form-control" placeholder="Address of service" style="border-color: #166534">
        </div>
    </div>
    @* input - email-id *@
    <div class="row" style="margin-top: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Email ID : </label>
        </div>
        <div class="col-9">
            <input type="email" id="aemail-id" class="form-control" placeholder="Email Id" style="border-color: #166534">
        </div>
    </div>
    @* input - phone number *@
    <div class="row" style="margin-top: 2rem ; margin-bottom: 2rem">
        <div class="col-3 fs-5 text-start">
            <label for="inputPassword5" class="form-label">Phone Number : </label>
        </div>
        <div class="col-1">
            <h4>+91</h4>
        </div>
        <div class="col-8">
            <input type="text" id="mobile" class="form-control" placeholder="Mobile No." style="border-color: #166534">
        </div>
    </div>
    @* input - checkbox *@
    <div class="mb-3 form-check text-start">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label text-start" for="exampleCheck1">
            The applicant(s) claims to be the proprieter(s) of the design and that to the best of his knowledge the design is new or original
        </label>
    </div>

    @* input - save button *@
    <div class="row text-start" style="margin-top: 2rem ; margin-bottom: 2rem">
        <div class="col-3">
            <button type="button" class="btn" style="width: 10rem; font-size:1.3rem ; background-color: #166534 ; color:white">Save</button>
        </div>
    </div>


</div>

<div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
