@page "/login"

<PageTitle>Login</PageTitle>

<div class="container" style="padding:3% 6%">
	<center>
		<div class="col-sm shadow-lg p-3 mb-5 bg-white rounded" style="width:60%">
			<h3>Welcome to the IPO System</h3>
			<h2>Login</h2>
			<p>Sign in and start managing your designs</p>

			<div class="input-group input-group-lg">
				<span class="input-group-text" id="inputGroup-sizing-lg">Username</span>
				<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			</div>
			<br />
			<div class="input-group input-group-lg">
				<span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
				<input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			</div>
			<br />
			<div class="input-group input-group-lg">
				<span class="input-group-text" id="inputGroup-sizing-lg">Select</span>
				<input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
			</div>
			<br/>
			<div class="container text-center">
			<div class="row">

			<div class="col">
				<input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
				<span class="mt-0">Remember me ?</span>
			</div>
			<div class="col">
				<a class="mt-0">Forgot Password</a>
			</div>
			<br/>
					<br />

			</div>
				<button style="width:100%" type="button" class="btn btn-success btn-lg">Login</button>
			</div>
		</div>
	</center>
</div>
