@page "/welcomeuser"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Welcomeuser> Localizer

<PageTitle>Welcome User</PageTitle>

<h2 class="text-center" style="margin-top:10rem; margin-left:-5rem">@Localizer["welcome"]</h2>
<div class="container text-center" style="margin:5rem">
    <div class="row align-items-start" style="margin-top:1rem">
        <div class="col-5 text-end" style="margin: 2rem">
            <button class="btn btn-primary align-start" type="submit" style="background-color: #8B4500; border-color:#8B4500">&nbsp&nbsp &nbspPatent Office &nbsp&nbsp&nbsp</button>

        </div>
        <div class="col-5 text-start" style="margin: 2rem">
            <button class="btn btn-primary align-start" type="submit" style="background-color: #8B4500; border-color:#8B4500">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp EDP &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>

        </div>
    </div>
    <div class="row align-items-start" style="margin-top:1rem">
        <div class="col-5    text-end" style="margin: 2rem">
            <button class="btn btn-primary align-start" type="submit" style="background-color: #8B4500; border-color:#8B4500">Change Password</button>

        </div>
        <div class="col-5 text-start" style="margin: 2rem">
            <button class="btn btn-primary align-start" type="submit" style="background-color: #8B4500; border-color:#8B4500">&nbsp&nbsp&nbspQuery Menu&nbsp&nbsp&nbsp</button>

        </div>
    </div>
</div>
@code {
    
}
