@inherits LayoutComponentBase

<PageTitle>patent</PageTitle>
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
        @if (left is not null)
        {
            <img src="@left" width="30%"/>
        }
        @if (right is not null)
        {
            <img src="@right" width="7%"/>
        }
  </div>
</nav>
<div class="page">


    <div style="background-image:none;background-color:#166534;" class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="" style="background-image:none;background-color:#F5F5F5;">
        <SideBarLang />
    </div>
</div>
@code {
    private string? left = "NewFolder/head.png", right = "NewFolder/logo.png";
}